* {
  box-sizing: border-box;
}

html, body{
  background-color: #1F2025;
    color: #03071C;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Johnston100W03-Light, Arial, Helvetica, sans-serif;
  }

  header {
    position: relative;
    width: 100%;
    height: 58px;
    z-index: 2;
    top: 180px;
    text-align: left;
    background-color: #2D3039;
    border-bottom: 3px solid #121315;
    padding: 10px;
}

ul {
  padding: 0;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav a {
  
    color: white;
    text-decoration: none;
    padding: 25px 15px 13px 15px;
    
    border-bottom: 3px solid transparent;
}

nav a:hover{
  background-color: #444856;
  border-bottom: 3px solid #2070B0;
}

/* Spacer from header */
.spacer{
  position: relative;
  width: 100%;
  height: 50px; 
}

#container{
  position: relative;
  top: 120px;
  background-color: white;
}

/* FOR HOVER background-color: #f6eecb; */
.corona-warning{
  
  border: solid 2px #fdb813;
  background-color: #FAF5E1;
  background-repeat: no-repeat;
  height: 70px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 0;
}

.corona-warning:hover{
  background-color: #f6eecb;
  transition: 0.3s;
}

.corona-warning h2{
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 100px;
}

.corona-warning p {
  color: black;
  margin-top: 0;
  margin-left: 100px;
}

.corona-warning a {
  text-decoration: none;
}

ol a {
  text-decoration: none;
  background-color: #EEE;
  color: #03071C;
  padding: 3px 5px;
  border-bottom: 1px solid #d9d9d9;
}

.not-active{
  color: #2070B0;
}

.not-active:hover {
  text-decoration: underline;
}

ol {
  list-style: none outside none;
  display: inline;
  padding-left: 0;
}

#centering{
  max-width: 1140px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  display: block;
}

.current-path-flow li{
  margin-top: 14px;
  display: inline-block;
}

.main-content-container {
  width:63%;
}

.right-content-container{
  width: 30%;
  float: right;
}

.login-widget{
    background: #fff;
    position: relative;
    border: solid 1px #cacaca;
    border-bottom: 3px solid #ccc;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 20px;
}

h3.login-widget{
  color: #000;
    background-color: #fff;
    padding: 0px;
    font-weight: bold;
}

#account-access-button{
  width: 315px;
  text-align: center;
  padding: 10px 20px 6px 20px;
  text-decoration: none;
  margin-bottom: 10px;
}

#congestion-list-heading{
  background-color: #2D3039;
  padding: 0 2.54%;
  display: block;
  text-decoration: none;
  position: relative;
  border-bottom: 3px solid #24262E;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}

#congestion-list-heading:hover{
  text-decoration: underline;
  transition: 0.3s;
}

#congestion-list-subheading{
  background-color: #2D3039;
  padding: 10px 10px 8px 20px;
  display: block;
  text-decoration: none;
  position: relative;
  border-bottom: 3px solid #24262E;
  text-decoration: none;
}

#congestion-list-subheading a{
  color: #fff;
  text-decoration: none;
}

.congestion-charge-container{
  background: #EEE;
  padding-bottom: 1px;
}

.congestion-charge-container h3{
  color: #fff;
  font-size: 23px;
  margin-bottom: 0;
  margin-top: 10px;
  padding-top: 12px;
  padding-bottom: 8px;
  word-wrap: break-word;
  display: block;
}

.congestion-charge-container li{
  background: #fff;
  display: block;
  min-height: 40px;
  line-height: 1.2;
  padding: 10px 10px 8px 25px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  position: relative;
}

.congestion-charge-ul{
  padding: 0 10px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.congestion-charge-inner-ul{
  margin-bottom: 10px;
}

.congestion-charge-ul a{
  text-decoration: none;
  color: #2D3039;
}

#notice{
  display: inline-block;
  margin: 0;
  color: red;
  font-size: 12px;
}

.article-teaser{
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

.primary-button{
  cursor: pointer;
  display: inline-block;
  min-height: 40px;
  color: #fff;
  border-radius: 5px;
  width: 8%;
  font-size: 16px;
  text-align: center;
  background-color: #164B79;
  background-image: linear-gradient(to top,#164B79 0%,#164B79 2px,#1A5A92 2px,#3F75A4 100%);
  transition: background-image,0.3s;
  text-shadow: 0 1px rgb(0 0 0 / 40%);
  border: 1px solid #164B79;
  position: relative;
}

.primary-button:hover{
  background-color: #315b7f;
  background-image: linear-gradient(#315b7f,#123f67);
}

.secondary-button{
  cursor: pointer;
  display: block;
  height: 40px;
  width: 344px;
  min-height: 40px;
  color: #2070B0;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  background-color: #F3F3F3;
  border: 1px solid #03071C;
  background-image: linear-gradient(to top,#F3F3F3 0%,#DCDCDC 2px,#F3F3F3 2px,#fff 100%);
  transition: background-image,0.3s;
  text-decoration: none;
  padding: 10px 20px 6px 20px;
}

.secondary-button:hover {
  background-image: linear-gradient(to top,#DCDCDC 0%,#DCDCDC 2px,#DCDCDC 2px, #DCDCDC 100%);
}

.my-input-class {
  font-size: 16px;
  height: 40px;
  width: 344px;
  border: 1px solid #03071C;
  border-radius: 0;
  padding: 5px;
  padding-left: 16px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 5px;
}

#find-address-button{
  margin-bottom: 30px;
}

label {
  font-size: 17px;
  font-weight: bold;
}

h1 {
  font-size: 47px;
  line-height: 55px;
}

h2 {
  font-size: 24px;
  line-height: 25px;
}

#postcode-check{
  display: block;
}

#address_form {
  display: block;
}

#address-search-result {
  display: none;
}

div#map {
    height: 30rem;
    width: 100%;
}

#map {
    height: 100%;
  }

  .custom-map-control-button {
    appearance: button;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 10px;
    padding: 0 0.5em;
    height: 40px;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
  }
  .custom-map-control-button:hover {
    background: #ebebeb;
  }

  #info-window-content{
    color: black;
    font-weight: bold;
  }

  #floating-panel {
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 10px 10px 15px 10px;
    border-bottom: 3px solid rgba(0,0,0,0.2);
  }

  #floating-panel h3{
    text-align: left;
  }
 
  #address{
    width: 88%;
    font-size: 16px;
    height: 40px;
    padding: 5px;
    border: 1px solid #03071C;
  }
  
  strong {
    font-weight: 900;
  }

  ul.charging-times-ul {
    list-style-position: outside;
    margin-left: 25px;
    margin-bottom: 25px;
  }

  a.charging-times-ul {
    color: #2070B0;
    cursor: pointer;
  }

  a:hover.charging-times-ul{
    text-decoration: none;
  }


footer{
  height: 300px;
  position: relative;
  border-top: 3px solid #ccc;
  margin-top: -3px;
  background-color: #202329;
  background-image: linear-gradient(#292C34 0px,#373D48 6px,#1F2329 300px);
}

footer ul{
  list-style: none;
  width: 30%;
  height: auto;
  float: left;
}

.footer-links-left{
  border-right: 1px solid #ccc;
}

footer li {
  height: 35px;
}

footer a{
  color: #CDCDCD;
  font-size: 14px;
  padding: 7px 0;
  display: block;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}



footer h2 {
  margin: 20px 0 0;
  padding-left: 5%;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  cursor: default;
}

.footer-links-right{
  border-right: none;
  width: 62%;
}

ul.footer-links-right{
  width: 70%;
  max-height: 238px;
}

.footer-links-right li{
  float: left;
  width: 300px;
  margin-left: 7.3%;
  padding: 7px 0px;
  color: #03071C;
}




